* {
    margin: 0;
    padding: 0;
    }

body{
    background-color: royalblue;
}

.container{
    display: grid;
    max-width: 500px;
    min-height: 500px;
    margin: 2rem auto;
    grid-template-columns: repeat(16, 26px);
    grid-template-rows: repeat(16, 26px);
}

.box{
    height: 25px;
    width: 25px;
    background-color: red;
    border: 1px solid black;
}