
* {
    margin: 0;
    padding: 0;
    }

body{
    background-color: #c7b4b5;
}

header{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 24px;
    color: gold;
    text-shadow: 1px 2px black;
    font-family: 'Pacifico', cursive;
}

button{
    background-color: #FFFAF9;
    padding: 50px;
    top:  275px;
    position: absolute;
    left: 200px;
    border-radius: 50%;
}

.container{
    display: grid;
    max-width: 500px;
    margin: 0 auto;
    top: 25px;
    border: 25px solid #e11622;
    border-radius: 5px;
    position: relative;
}

.box{
    background-color: #d5d3d5;
}